---
const { pd } = Astro.props;

interface Counter {
    children: { text: string }[];
}

//console.log(pd.descrizione[0]);
//console.log(pd.titolo);
---

<section id="call-to-action" class="py-3 py-lg-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-7">
                <h2 class="text-primary lh-1 fw-bold fs-big text-uppercase">
                    {pd.titolo}
                </h2>
                <p class="fw-bold fs-4">{pd.sottotitolo}</p>
            </div>

            <div class="col-lg-5">
                <div class="text-container pb-4 pt-2">
                {pd.descrizione.map((counter: Counter) => (
                    <p class="fs-6">
                        {counter.children[0].text}
                    </p>
                ))}
                </div>
                
                <a 
                    href={pd.pulsante.link} 
                    title={pd.pulsante.title} 
                    target={pd.pulsante.targetBlank ? '_blank' : ''} 
                    class={pd.pulsante.class}
                >{pd.pulsante.testoLink}</a>
            </div>

        </div>
    </div>
</section>