---
import fetchApi from '../lib/strapi';

// Define the interface for the pageData objects
interface PageData {
    nomeAgenzia: string;
    descrizione: { children: { text: string }[] }[];
    // Add other properties as needed
}
interface Counter {
    children: { text: string }[];
    id: number;
    icona: string;
    info: string;
    link: string;
    testoLink: string;
    title: string;
    class: string;
    targetBlank: boolean;
    // Add other properties as needed
}


//http://localhost:1337/api/footer?populate[colonna1][populate]=*&populate[colonna2][populate]=*&populate[bottomBar][populate]=*
const pageDataColonna1: PageData[] = await fetchApi({
	endpoint: 'footer',
	page: 'colonna1',
	wrappedByKey: 'data',
    query: {}, // Provide an empty object or appropriate query parameters
    wrappedByList: false, // Provide a default value
    locale: '', // Provide a default locale
    secondLevel: '',
    secondLevelQuery: '',
    secondLevelTarget: '',
});
const nomeAgenzia = pageDataColonna1.nomeAgenzia;
const descrizione = pageDataColonna1.descrizione;

const pageDataColonna2: PageData[] = await fetchApi({
	endpoint: 'footer',
	page: 'colonna2',
	wrappedByKey: 'data',
    query: {}, // Provide an empty object or appropriate query parameters
    wrappedByList: false, // Provide a default value
    locale: '', // Provide a default locale
    secondLevel: '',
    secondLevelQuery: '',
    secondLevelTarget: '',
});
const policies = pageDataColonna2.link;
const info = pageDataColonna2.infoIcona;


const pageDataBottomBar: PageData[] = await fetchApi({
	endpoint: 'footer',
	page: 'bottomBar',
	wrappedByKey: 'data',
    query: {}, // Provide an empty object or appropriate query parameters
    wrappedByList: false, // Provide a default value
    locale: '', // Provide a default locale
    secondLevel: '',
    secondLevelQuery: '',
    secondLevelTarget: '',
});
const credits = pageDataBottomBar.credits;
const social = pageDataBottomBar.iconaSocial;

---
<footer id="footer">
    <div class="w-100 bg-black py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-12 col-lg-5">
                    <h1 class="text-white mb-2 mb-lg-5">{nomeAgenzia}</h1>
                    {descrizione.map((counter: Counter) => (
                        <p class="mb-1 text-white">
                            {counter.children[0].text}
                        </p>
                    ))}
                </div>

                <div class="col-12 offset-lg-2 col-lg-5 pt-2">
                {info.map((counter: Counter, index: number) => (
                    <p 
                    class="mb-1 text-white" 
                    id={`counter-${index}`}>
                        <i class={`me-2 counter-${counter.icona}`}></i> 
                        {counter.info}
                    </p>
                ))}

                    <p class="pt-4 text-white">
                    {policies.map((counter: Counter, index: number) => (
                        <a 
                        href={counter.link} 
                        class={counter.class} 
                        title={counter.title} 
                        target={counter.targetBlank ? '_blank' : ''}>
                            {counter.testoLink}
                        </a>
                    ))}
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container secondary-section">
        <div class="row">
            <div class="col-12 col-lg-6 py-4">
                {credits.map((counter: Counter) => (
                    <p>
                        {counter.children[0].text}
                    </p>
                ))}
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-lg-end pt-4 mb-4 mb-lg-0">
                    {social.map((counter: Counter) => (
                    <div class="col-1 fs-4">
                        <a href={counter.link} title={counter.info} target="_blank">
                            <i class={counter.icona}></i>
                        </a>
                    </div>
                    ))}
                </div>
            </div>
        </div>
        
    </div>
</footer>


