---
import LinkPulsante from '../components/core/LinkPulsante.astro';
import RichText from '../components/core/RichText.astro';
import fetchApi from '../lib/strapi';

// Define the interface for the pageData objects
interface PageData {
    nomeAgenzia: string;
    descrizione: { children: { text: string }[] }[];
    // Add other properties as needed
}
interface Counter {
    children: { text: string }[];
    id: number;
    icona: string;
    info: string;
    link: string;
    testoLink: string;
    title: string;
    class: string;
    targetBlank: boolean;
    // Add other properties as needed
}


//http://localhost:1337/api/footer?populate[colonna1][populate]=*&populate[colonna2][populate]=*&populate[bottomBar][populate]=*
const pageDataColonna1: PageData[] = await fetchApi({
	endpoint: 'footer',
	page: 'colonna1',
	wrappedByKey: 'data',
    query: {}, // Provide an empty object or appropriate query parameters
    wrappedByList: false, // Provide a default value
    locale: '', // Provide a default locale
    secondLevel: '',
    secondLevelQuery: '',
    secondLevelTarget: '',
});
const nomeAgenzia = pageDataColonna1.nomeAgenzia;
const descrizione = pageDataColonna1.descrizione;

const pageDataColonna2: PageData[] = await fetchApi({
	endpoint: 'footer',
	page: 'colonna2',
	wrappedByKey: 'data',
    query: {}, // Provide an empty object or appropriate query parameters
    wrappedByList: false, // Provide a default value
    locale: '', // Provide a default locale
    secondLevel: '',
    secondLevelQuery: '',
    secondLevelTarget: '',
});
const policies = pageDataColonna2.link;
const info = pageDataColonna2.infoIcona;


const pageDataBottomBar: PageData[] = await fetchApi({
	endpoint: 'footer',
	page: 'bottomBar',
	wrappedByKey: 'data',
    query: {}, // Provide an empty object or appropriate query parameters
    wrappedByList: false, // Provide a default value
    locale: '', // Provide a default locale
    secondLevel: '',
    secondLevelQuery: '',
    secondLevelTarget: '',
});
const credits = pageDataBottomBar.credits;
const social = pageDataBottomBar.iconaSocial;

---
<footer id="footer">
    <div class="w-100 bg-black py-5 primary-section">
        <div class="container col-11 col-lg-12 m-auto">
            <div class="row g-5">
                <div class="col-12 col-lg-5">

                    {nomeAgenzia !== null && 
                    <h3 class="text-white mb-2 mb-lg-5 text-uppercase">{nomeAgenzia}</h3>
                    }

                    {descrizione !== null && 
                    <RichText block={descrizione} />
                    }
                </div>

                <div class="col-12 offset-lg-2 col-lg-5 pt-2">

                    {info !== null && info.map((counter: Counter, index: number) => (
                    <p 
                    class="mb-1 text-white" 
                    id={`counter-${index}`}>
                        <i class={`me-2 counter-${counter.icona}`}></i> 
                        {counter.info}
                    </p>
                    ))}

                    <p class="pt-4 text-white">

                    {policies !== null && policies.map((counter: Counter, index: number) => (
                        <LinkPulsante param={counter} />
                    ))}

                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container secondary-section col-11 col-lg-12 m-auto">
        <div class="row">

            {credits !== null && 
            <div class="col-12 col-lg-6 py-4 credits">
                <RichText block={credits} />
            </div>
            }

            {social !== null && 
            <div class="col-12 col-lg-6">
                <div class="row justify-content-lg-end pt-4 mb-4 mb-lg-0">
                    {social.map((counter: Counter) => (
                    <div class="col-1 fs-5">
                        <a href={counter.link} title={counter.info} target="_blank">
                            <i class={counter.icona}></i>
                        </a>
                    </div>
                    ))}
                </div>
            </div>
            }
        </div>
        
    </div>
</footer>


