---
const { pd, landingID } = Astro.props;
import RichText from '../components/core/RichText.astro';

---

<section id="contattaci" class="py-5">
    <div class="container col-11 m-auto">
        <div class="row d-lg-flex justify-content-lg-center pb-5">
            <div class="col-12 col-lg-9 text-center">
                {pd.titolo && <h1 class="fw-bold text-uppercase">{pd.titolo}</h1>}
                {pd.descrizione && <RichText block={pd.descrizione} />}
            </div>
        </div>

        <form class="row g-3 needs-validation" id="form-leads" novalidate>
            <div class="col-12 col-lg-6">
                <label for="nome" class="form-label">Nome <sup class="text-primary fw-bold">*</sup></label>
                <input type="text" class="form-control rounded rounded-3 border-black border-opacity-25" placeholder="Inserisci qui il tuo nome" id="nome" name="nome" required>
                <div class="valid-feedback">Ok!</div><div class="invalid-feedback">Inserisci correttamente i dati</div>
            </div>
            <div class="col-12 col-lg-6">
                <label for="cognome" class="form-label">Cognome <sup class="text-primary fw-bold">*</sup></label>
                <input type="text" class="form-control rounded rounded-3 border-black border-opacity-25" placeholder="Inserisci qui il tuo cognome" id="cognome" name="cognome" required>
                <div class="valid-feedback">Ok!</div><div class="invalid-feedback">Inserisci correttamente i dati</div>
            </div>

            <div class="col-12">
                <label for="azienda" class="form-label">Azienda, ente, istituzione o associazione <sup class="text-primary fw-bold">*</sup></label>
                <input type="text" class="form-control rounded rounded-3 border-black border-opacity-25" placeholder="Inserisci qui il nome della tua azienda, ente, associazione, ecc." name="azienda" id="azienda" required>
                <div class="valid-feedback">Ok!</div><div class="invalid-feedback">Inserisci correttamente i dati</div>
            </div>

            <div class="col-12 col-lg-6">
                <label for="email" class="form-label">Indirizzo mail <sup class="text-primary fw-bold">*</sup></label>
                <input type="email" class="form-control rounded rounded-3 border-black border-opacity-25" placeholder="Inserisci qui un tuo contatto mail" id="email" name="email" required />
                <div class="valid-feedback">Ok!</div><div class="invalid-feedback">Inserisci un indirizzo email corretto!</div>
            </div>

            <div class="col-12 col-lg-6">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control rounded rounded-3 border-black border-opacity-25" placeholder="Inserisci qui un contatto telefonico" aria-label="Telefono" name="telefono">
            </div> 
            
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label class="form-label">Quali servizi ti interessano?</label>
                        <div class="row">
                            {[
                                "Marketing territoriale e Governance turistica",
                                "Data Intelligence",
                                "Destination Branding",
                                "Comunicazione e creatività",
                                "Ecosistemi digitali"
                            ].map((servizio, i) => (
                                <div class="form-check col-12" key={`servizio-${i}`}>
                                    <input class="form-check-input" type="checkbox" name="servizi" value={servizio} id={`servizio-${i}`} />
                                    <label class="form-check-label" for={`servizio-${i}`}>{servizio}</label>
                                </div>
                            ))}
                        </div>
                    </div> 
                    
                    <div class="col-12 col-md-6">
                        <label class="form-label">Quali format vorresti portare nel tuo territorio?</label>
                        <div class="row">
                            {[
                                "Tu che viaggiatore sei?",
                                "Ciclomangia",
                                "HappyDestination Lab",
                                "Get Your Destination Experience",
                                "Travel Bootcamp"
                            ].map((format, i) => (
                                <div class="form-check col-12" key={`format-${i}`}>
                                    <input class="form-check-input" type="checkbox" name="format" value={format} id={`format-${i}`} />
                                    <label class="form-check-label" for={`format-${i}`}>{format}</label>
                                </div>
                            ))}
                        </div>
                    </div> 
                </div>
            </div>                     
           

            <div class="col-12">
                <label for="messaggio" class="form-label">Messaggio</label>
                <textarea class="form-control rounded rounded-3 border-black border-opacity-25" placeholder="Lasciaci un messaggio se ti va!" aria-label="Lasciaci un messaggio" name="messaggio"></textarea>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" class="rounded rounded-3 border-black border-opacity-25" value="true" id="flexCheckNewsletter" name="newsletter"/>
                    <label class="form-check-label" for="flexCheckNewsletter">
                        Sì, voglio iscrivermi la newsletter
                    </label>
                </div>
                
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" class="rounded rounded-3 border-black border-opacity-25" value="true" id="flexCheckDefault" name="privacy" required/>
                    <label class="form-check-label" for="flexCheckDefault">
                        Acconsento al trattamento dei dati personali come definito all'interno delle <a href="https://happyminds.it/privacy-policy/" target="_blank" title="Pricavy Policy Happy Minds">privacy policy</a>
                    </label>
                    <div class="valid-feedback">Ok!</div><div class="invalid-feedback">Devi accettare la privacy policy</div>
                </div>
                
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary rounded rounded-2 fw-bold px-5 pulsante-contattaci">Invia</button>
            </div>

            <div class="alert alert-success rounded rounded-1 text-center py-5 d-none" role="alert" id="alert-success">
                Grazie per averci contattato! Ti risponderemo al più presto.
            </div>
        </form>
    </div>
</section>


<script is:inline>
    (() => {
        'use strict';
    
        const forms = document.querySelectorAll('.needs-validation');
    
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', async event => {
                event.preventDefault();
                event.stopPropagation();
    
                if (!form.checkValidity()) {
                    form.classList.add('was-validated');
                    return;
                }
    
                const formData = new FormData(form);
                const data = {};
    
                // Gestione multipla per checkbox (servizi e format)
                formData.forEach((value, key) => {
                    if (data[key]) {
                        if (Array.isArray(data[key])) {
                            data[key].push(value);
                        } else {
                            data[key] = [data[key], value];
                        }
                    } else {
                        data[key] = value;
                    }
                });
    
                // Default se nessun servizio o format selezionato
                const serviziText = Array.isArray(data.servizi) ? data.servizi.join(", ") :
                                    data.servizi ? data.servizi : "Nessun servizio selezionato";
    
                const formatText = Array.isArray(data.format) ? data.format.join(", ") :
                                   data.format ? data.format : "Nessun format selezionato";
    
                await fetch('https://script.google.com/macros/s/AKfycbzO_8Y4r5Qj1AF4wwGuQ-1ji004P7QV8SKsxC7xYDXEdzL8_rX-IxmMd0XxdRfKUNNClg/exec', {
                    method: 'POST',
                    mode: 'no-cors',
                    headers: {
                        'Content-Type': 'application/json',
                        'Connection': 'keep-alive',
                        'Accept-Encoding': 'gzip, deflate, br',
                    },
                    body: JSON.stringify(data)
                });
    
                document.getElementById("alert-success").classList.remove("d-none");
                form.reset();
                form.classList.remove("was-validated");
    
                setTimeout(() => {
                    document.getElementById("alert-success").classList.add("d-none");
                }, 5000);
    
                // Testo dell'email con inserimento dinamico                
                let textEmail = "Ciao "+data.nome+",\ngrazie per averci contattatɜ, siamo molto felici!\nPer ringraziarti del tuo interesse, a questo link: https://strapi.happyminds.it/uploads/portfolio_turistico_Happy_Minds_cc67922472.pdf trovi il nostro portfolio: potrai approfondire i nostri HappyProject e conoscere l'approccio e i servizi che abbiamo realizzato.\nTi ricontatteremo al più presto per fissare una call conoscitiva e rendere la tua destinazione ancora più felice 🦩\n\nA presto,\nil team di HappyMinds\n----\nQuesta è una email automatica, per qualsiasi cosa inviare un messaggio a hello@happyminds.it";
                let plainHtml = "<p>Ciao "+data.nome+",<br>grazie per averci contattatɜ, siamo molto felici!<br>Per ringraziarti del tuo interesse, <a href='https://strapi.happyminds.it/uploads/portfolio_turistico_Happy_Minds_cc67922472.pdf' target='_blank' title='Portfolio Happyminds'>a questo link trovi il nostro portfolio</a>: potrai approfondire i nostri HappyProject e conoscere l'approccio e i servizi che abbiamo realizzato.<br>Ti ricontatteremo al più presto per fissare una call conoscitiva e rendere la tua destinazione ancora più felice 🦩</p><p>A presto, <br>il team di HappyMinds</p><p>----<br>Questa è una email automatica, per qualsiasi cosa inviare un messaggio a <a href='mailto:hello@happyminds.it'>hello@happyminds.it</a></p>";

                const emailData = {
                    email: data.email,
                    subject: "Grazie per il tuo interesse | HappyMinds",
                    text: textEmail,
                    plainHtml: plainHtml
                };
    
                try {
                    const emailResponse = await fetch('/api/send-mail', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(emailData)
                    });
    
                    //const emailResult = await emailResponse.json();
                    await emailResponse.json();
                    window.location.href = '/thankyou-page';
                    // console.log("Email Result ->", emailResult);
                } catch (error) {
                    console.error("Errore nell'invio della mail", error);
                }
            }, false);
        });
    })();
    </script>
    