---
const { pd } = Astro.props;
import { Image } from "astro:assets";
import RichText from '../components/core/RichText.astro';
const sitoUrl = import.meta.env.STRAPI_URL;

//console.log(pd);
---
<section id="who-we-are" class="py-4 mt-5">
    <div class="container">
        <div class="row pt-3">
            <div class="col-12 col-lg-5">

                {pd.titolo &&
                <h2 class="text-uppercase text-primary fw-bold">{pd.titolo}</h2>
                }
                
                {pd.paragrafo1 && 
                <RichText block={pd.paragrafo1} />
                }
                
            </div>

            <div class="col-12 col-lg-3">
                <div class="img-container p-3 p-lg-5 w-100">

                    {pd.logo &&
                    <Image 
                        src={sitoUrl+pd.logo.url} 
                        class="img-fluid" 
                        alt={pd.logo.alternativeText ? pd.logo.alternativeText : ""} 
                        width={pd.logo.width} 
                        height={pd.logo.height} 
                    />
                    }

                </div>                
            </div>

        </div>

        <div class="row pt-5">
            <div class="col-12 col-lg-7">
                <div class="img-container p-3 w-100">

                    {pd.company &&
                    <Image 
                        src={sitoUrl+pd.company.url} 
                        class="img-fluid rounded-4" 
                        alt={pd.company.alternativeText ? pd.company.alternativeText : ""} 
                        width={pd.company.width} 
                        height={pd.company.height} 
                    />
                    }
                    {pd.company.caption && 
                    <figcaption class="text-center mt-2 figure-caption">{pd.company.caption}</figcaption>
                    }
                    
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <h2 class="text-uppercase text-primary fw-bold">{pd.sottotitolo}</h2>

                {pd.paragrafo2 && 
                <RichText block={pd.paragrafo2} />
                }
                
            </div>
        </div>
    </div>
</section>