---
import RichText from '../components/RichText.astro';
const { pd, landingID } = Astro.props;
import { Image } from "astro:assets";
import fetchApi from '../lib/strapi';

// Define the interface for the pageData objectsContent[{ 
interface Content {
    riga: { 
        id: number,
        titolo: string,
        sottotitolo: string,
        paragrafo1: string,
        paragrafo2: string,
        reverseColumn: boolean,
        slider: [{}],
    } 
};
interface TextSlide {
    content: Content[]
};
interface Counter {
    slider: {
        url: string;
        alternativeText: string;
        width: number;
        height: number;
    },
    reverseColumn: boolean,
    titolo: string,
    sottotitolo: string,
    paragrafo1: string,
    paragrafo2: string,
    url: string,
    alternativeText: string,
    width: number,
    height: number,
};

/**
 * esempio link chiamata API
 * http://localhost:1337/api/landing-pages/yd9u9u9k5wtvej3e8sv0uf3h?populate[content][on][shared.slider-clienti][populate]=cliente.logo&populate[content][on][shared.slider-clienti][populate]=cliente.link
 */
const textSlide: TextSlide[] = await fetchApi({

    // sostituire ID statico con ID dinamico passato con props in caso di più landing pages
	endpoint: `landing-pages/${landingID}`, 

    //lasciare vuoto se si cerca un ID particolare (es. landing-pages/yd9u9u9k5wtvej3e8sv0uf3h)
	page: '', 

	wrappedByKey: 'data',

    // Provide an empty object or appropriate query parameters
    query: {}, 

    // Provide a default value
    wrappedByList: false, 

    // Provide a default locale
    locale: '', 

    /**
     * USARE I TRE PARAMETRI SEGUENTI SOLO NEL CASO SPECIFICO DI POPOLAMENTO DI SECONDO LIVELLO E DI ID SPECIFICI
     * es. /api/landing-pages/yd9u9u9k5wtvej3e8sv0uf3h?populate[content][on][shared.slider-clienti][populate]=cliente.logo
     * es. /api/landing-pages/yd9u9u9k5wtvej3e8sv0uf3h?populate[content][on][shared.slider-clienti][populate]=cliente.link
     *              ^                     ^                         ^                   ^                         ^
     *              |                     |                         |                   |                         |
     *           endpoint           ID specifico        nome blocco dinamico     nome componente        nome sottocomponente
     */
    // popolare con il nome del contenitore dinamico solo nel caso si voglia popolare un componente al suo interno a un livello dal secondo in poi
    secondLevel: 'content', 

    // inserire la stringa che va a specificare quale componente popolare all'interno del blocco dinamico principale
    secondLevelQuery: '[on][shared.container-text-and-slide]', 

    // inserire il campo che si vuole popolare, creare array nel caso se ne vogliano popolare più di uno, lasciare una stringa semplice in caso contrario
    secondLevelTarget: 'riga.slider', 
});

let riga = textSlide.content[0];

const logoUrl = import.meta.env.STRAPI_URL;

//console.log(riga.riga);
---
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

    const mySwiperTextSlide = new Swiper('.mySwiperTextSlide', {
        slidesPerView: 1,
        spaceBetween: 50,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>

<section id="text-and-foto" class="py-3 py-lg-5">
    <div class="container-fluid">

        {riga.riga.map((counter: Counter, index: number) => (
            <div 
                class={counter.reverseColumn ? 'row d-flex flex-row-reverse' : 'row d-flex'} 
                id={`text-and-slide-${index}`} 
            >
                <div class="col-lg-6 p-3 p-lg-5">
                    <div class="text-container pt-3 pb-2">
                        <h3 class="text-primary lh-1 fw-bold pb-3 text-uppercase">{counter.titolo}</h3>
                        <RichText block={counter.paragrafo1} />
                    </div>
                    <div class="text-container pt-2 pb-3">
                        <h4 class="text-secondary lh-1 pb-3">{counter.sottotitolo}</h4>
                        <RichText block={counter.paragrafo2} />
                    </div>
                </div> 

                <div class="col-lg-6 p-3 p-lg-5">
                    <div class="swiper mySwiperTextSlide ">
                        <div class="swiper-wrapper">

                            {Array.isArray(counter.slider) &&
                            counter.slider.map((riga: Counter) => (
                                <div class="swiper-slide">
                                    <Image 
                                        src={logoUrl+riga.url} 
                                        class="img-fluid rounded-4" 
                                        alt={riga.alternativeText ? riga.alternativeText : ""} 
                                        width={riga.width} 
                                        height={riga.height} 
                                    />
                                </div>
                            ))}

                        </div>
                        
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>  
            </div>
        ))}

    </div>
</section>