---
const { pd } = Astro.props;
const videoUrl = `${import.meta.env.STRAPI_URL}${pd.video.url}`;

//console.log(pd);
---

<div class="video-header" id="testata">
    <div class="d-flex justify-content-center align-items-center" id="video-testata">
        <video autoplay loop muted playsinline>
            <source src={videoUrl} type="video/mp4" />
        </video>
        <div class="d-flex flex-column justify-content-center align-items-center" id="contenuto-testata">
            <div class="titolo-header"><h1>{pd.titolo}</h1></div>
            <h2 class="fs-2">{pd.sottotitolo}</h2>
            <p>{pd.descrizione}</p>
            <a 
                href={pd.pulsante.url} 
                title={pd.pulsante.titolo} 
                target={pd.pulsante.destinazioneLink ? '_blank' : ''} 
                class="btn btn-cta btn-primary"
            >{pd.pulsante.etichetta}</a>
        </div>
    </div>
</div>