---
import RichText from '../components/core/RichText.astro';
import LinkPulsante from '../components/core/LinkPulsante.astro';
const { pd } = Astro.props;
const videoUrl = `${import.meta.env.STRAPI_URL}${pd.video.url}`;

//console.log(pd);
---

<div class="video-header mb-5" id="testata">
    <div class="d-flex justify-content-center align-items-center" id="video-testata">

        {videoUrl !== null && 
        <video autoplay loop muted playsinline>
            <source src={videoUrl} type="video/mp4" />
        </video>
        }

        <div class="d-flex flex-column justify-content-center align-items-center col-11 col-lg-6" id="contenuto-testata">

            {pd.titolo !== null && 
            <div class="titolo-header bg-primary p-2">
                <h1 class="text-uppercase fw-semibold text-white">{pd.titolo}</h1>
            </div>
            }

            {pd.sottotitolo !== null && 
            <h2 class="fs-2 text-uppercase lh-1 my-3 text-white">{pd.sottotitolo}</h2>
            }
            <div class="d-none d-lg-block">
            {pd.descrizione !== null && 
            <RichText block={pd.descrizione}/>
            }
            </div>

            {pd.pulsante !== null && 
            <LinkPulsante param={pd.pulsante} />
            }
            
        </div>
    </div>
</div>