---
import { Navbar } from 'astro-bootstrap';
import type { NavbarItemType } from 'astro-bootstrap';
// demonstration data
const siteTitle = 'Astro site'; // pull this in from a config file
const items: NavbarItemType[] = [
  // pull this in from a config file
  { text: 'About us', href: '#who-we-are', class: 'mx-3' },
  { text: 'What we do', href: '#what-we-do', class: 'mx-3' },
  { text: 'Contact us', href: '#contattaci', class: 'mx-3' }
];

const id = 'navbar';
import logo from '../assets/images/happy-minds-logo-orizzontale-colori.png';
const sitoUrl = import.meta.env.STRAPI_URL;
---

<Navbar class="navbar navbar-expand-md navbar-light bg-white sticky-top navbar-custom d-none d-md-block" id="navbarHM">
    <div class="container-fluid bg-white px-4 h-100">

        <a class="navbar-brand" href="/">
            <img src={`${sitoUrl}/uploads/happy_minds_logo_orizzontale_colori_3da0b86e6e.png`} width={logo.width} height={logo.height} alt="Logo" class="img-fluid">
        </a>

        <Navbar.Toggler controls={id} />
        <Navbar.Collapse {id}>
            <Navbar.Items {items} class="bg-white w-100 text-center text-lg-start justify-content-end text-uppercase justify-content- mb-2 mb-lg-0" />
        </Navbar.Collapse>
    </div>
</Navbar>

<Navbar class="navbar navbar-expand-lg navbar-light bg-white sticky-top navbar-custom-mobile d-block d-md-none" id="navbarHMmobile">
    <div class="container-fluid bg-white px-4">

        <a class="navbar-brand" href="/">
            <img src={`${sitoUrl}/uploads/happy_minds_logo_orizzontale_colori_3da0b86e6e.png`} width={logo.width} height={logo.height} alt="Logo" class="img-fluid">
        </a>

        <Navbar.Toggler controls={id} />
        <Navbar.Collapse {id}>
            <Navbar.Items {items} class="bg-white w-100 text-center text-lg-start justify-content-end text-uppercase justify-content- mb-2 mb-lg-0" />
        </Navbar.Collapse>
    </div>
</Navbar>

<script>
    import 'bootstrap/js/dist/collapse';
    document.addEventListener("DOMContentLoaded", function () {
        const navbarHM = document.getElementById("navbarHM");
        let lastScrollY = window.scrollY;
    
        // Riduzione navbar allo scroll
        if (navbarHM) {
            window.addEventListener("scroll", () => {
                navbarHM.classList.toggle("shrunk", window.scrollY > 1);
            });
        }
    });
</script>
  